@inject NavigationManager NavigationManager

<li class="sidebar-dropdown @PageHelper.IsSelected(currentRoute:NavigationManager.ToBaseRelativePath(NavigationManager.Uri), root:"Task", page:"", cssClass:"active", cssClassAlt:"")">
    <a href="#">
        <i class="fa fa-tasks"></i>
        <span class="menu-text">@LanguageHelper.GetTitle(langQueryList, 10111)</span>
    </a>
    <div class="sidebar-submenu" style="@PageHelper.IsSelected(currentRoute:NavigationManager.ToBaseRelativePath(NavigationManager.Uri), root:"Task", page:"", cssClass:"display: block;", cssClassAlt:"")">
        <ul>
            <li>
                <a href="/TaskGroup/TaskGroups">@LanguageHelper.GetTitle(langQueryList, 10112)</a>
            </li>
            <li>
                <a href="/TaskGroup/CreateOrEdit">@LanguageHelper.GetTitle(langQueryList, 10113)</a>
            </li>
        </ul>
    </div>
</li>

@code {
    [CascadingParameter(Name = "langQueryList")] LangQueryList langQueryList { get; set; }
}
