@inject NavigationManager NavigationManager

<li class="sidebar-dropdown @PageHelper.IsSelected(currentRoute:NavigationManager.ToBaseRelativePath(NavigationManager.Uri), root:"CustomField", page:"", cssClass:"active", cssClassAlt:"")">
    <a href="#">
        <i class="far fa-file-code"></i>
        <span class="menu-text">@LanguageHelper.GetTitle(langQueryList, 10124)</span>
    </a>
    <div class="sidebar-submenu" style="@PageHelper.IsSelected(currentRoute:NavigationManager.ToBaseRelativePath(NavigationManager.Uri), root:"CustomField", page:"", cssClass:"display: block;", cssClassAlt:"")">
        <ul>
            <li>
                <a href="/CustomFieldGroup/CustomFieldGroups">@LanguageHelper.GetTitle(langQueryList, 10125)</a>
            </li>
            <li>
                <a href="/CustomFieldGroup/Index">@LanguageHelper.GetTitle(langQueryList, 10126)</a>
            </li>
        </ul>
    </div>
</li>

@code {
    [CascadingParameter(Name = "langQueryList")] LangQueryList langQueryList { get; set; }
}
