@page "{id?}"
@model LanguageCodeModel
@{
    ViewData["Title"] = "LanguageCode";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Setting/Language">@Html.GetTitle(Model.langQueryList, 10700)</a></li>
                    <li class="breadcrumb-item active">@Model.langCode.LanguageCodeId</li>
                </ol>
            </div>
        </div>
    </div>

    <partial name="_SaveMessage" model="Model.SaveMessageModel" />

    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10709)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="textCode">@Html.GetTitle(Model.langQueryList, 10707)</label>
                                    @if (Model.langCode.Id != Guid.Empty)
                                    {
                                        <input asp-for="langCode.LanguageCodeId" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input asp-for="langCode.LanguageCodeId" class="form-control" />
                                    }
                                    <span asp-validation-for="langCode.LanguageCodeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">@Html.GetTitle(Model.langQueryList, 10200)</label>
                                    <textarea asp-for="langCode.Description" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="datefrom">@Html.GetTitle(Model.langQueryList, 10202)</label>
                                    <input asp-for="langCode.DateFrom" type="text" class="form-control datepicker" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateto">@Html.GetTitle(Model.langQueryList, 10203)</label>
                                    <input asp-for="langCode.DateTo" type="text" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="status">@Html.GetTitle(Model.langQueryList, 10201)</label>
                                    <select asp-for="langCode.Status" asp-items="@Model.StatusList" class="custom-select"></select>
                                    <input asp-for="langCode.Id" class="form-control" hidden />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-body">
                        @if (Model.langCode.Id == Guid.Empty)
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10710)</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10711)</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


