@page
@model LanguageModel
@{
    ViewData["Title"] = "Language";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLDataTableCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item active">@Html.GetTitle(Model.langQueryList, 10119)</li>
                </ol>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10712)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="datatable" class="table table-striped table-bordered datatable display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10702)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10703)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10200)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10201)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10202)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10203)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var currentLanguageHeader in Model.languageList.LanguageHeaders)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-page="/Setting/TextCode" asp-route-id="@currentLanguageHeader.TextCode" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                                </td>
                                                <td>@currentLanguageHeader.TextCode</td>
                                                <td>@currentLanguageHeader.Text</td>
                                                <td>@currentLanguageHeader.Description</td>
                                                <td>@currentLanguageHeader.Status</td>
                                                <td>@currentLanguageHeader.DateFrom.ToShortDateString()</td>
                                                <td>@currentLanguageHeader.DateTo.ToShortDateString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a class="btn btn-primary" asp-page="/Setting/TextCode">@Html.GetTitle(Model.langQueryList, 10204)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10713)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="datatable" class="table table-striped table-bordered datatable display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10707)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10200)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10201)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10202)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10203)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var currentLanguageCode in Model.langCodeList.LanguageCodes)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-page="/Setting/LanguageCode" asp-route-id="@currentLanguageCode.LanguageCodeId" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                                </td>
                                                <td>@currentLanguageCode.LanguageCodeId</td>
                                                <td>@currentLanguageCode.Description</td>
                                                <td>@currentLanguageCode.Status</td>
                                                <td>@currentLanguageCode.DateFrom.ToShortDateString()</td>
                                                <td>@currentLanguageCode.DateTo.ToShortDateString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a class="btn btn-primary" asp-page="/Setting/LanguageCode">@Html.GetTitle(Model.langQueryList, 10204)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @await Html.PartialAsync("_PLDataTableJS")
}

