@page "{id?}"
@model SettingNameModel
@{
    ViewData["Title"] = "LanguageCode";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Setting/SystemSetting">@Html.GetTitle(Model.langQueryList, 10123)</a></li>
                    <li class="breadcrumb-item active">@Model.settingHead.Name</li>
                </ol>
            </div>
        </div>
    </div>

    @if (Model.SaveState != SaveStates.IGNORE)
    {
        if (Model.SaveState == SaveStates.FAILED)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Html.GetTitle(Model.langQueryList, 10500)</strong>
                @if (!string.IsNullOrWhiteSpace(Model.ErrorString))
                {
                    @Model.ErrorString;
                }
            </div>
        }
        else if (Model.SaveState == SaveStates.SUCCESS)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Html.GetTitle(Model.langQueryList, 10501)</strong>
            </div>
        }
    }

    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">Edit Setting</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="textCode">@Html.GetTitle(Model.langQueryList, 10602)</label>
                                    @if (Model.settingHead.Id != Guid.Empty)
                                    {
                                        <input asp-for="settingHead.Name" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input asp-for="settingHead.Name" class="form-control" />
                                    }
                                    <span asp-validation-for="settingHead.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="status">@Html.GetTitle(Model.langQueryList, 10219)</label>
                                    <input asp-for="settingHead.Value" class="form-control" />
                                    <span asp-validation-for="settingHead.Value" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="status">@Html.GetTitle(Model.langQueryList, 10220)</label>
                                    @if (Model.settingHead.Id != Guid.Empty)
                                    {
                                        <input asp-for="settingHead.DefaultValue" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input asp-for="settingHead.DefaultValue" class="form-control" />
                                    }
                                    <span asp-validation-for="settingHead.DefaultValue" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">@Html.GetTitle(Model.langQueryList, 10200)</label>
                                    <textarea asp-for="settingHead.Description" class="form-control" rows="5"></textarea>
                                    <input asp-for="settingHead.Status" class="form-control" hidden>
                                    <input asp-for="settingHead.Id" class="form-control" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="status">@Html.GetTitle(Model.langQueryList, 10212)</label>
                                    <select asp-for="settingHead.SettingType" asp-items="@Model.SettingTypeList" class="custom-select"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-body">
                        @if (Model.settingHead.Id == Guid.Empty)
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10603)</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10604)</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

