@page "{id}/{message?}/{messagetype?}"
@model IndexModel
@{
    ViewData["Title"] = $"Panche Legal - ({Model.taskGroupSummary.ShortName})";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
    @await Html.PartialAsync("_PLDataTableCSS")
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/dhtmlx-gantt/dhtmlxgantt.css">
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/TaskGroup/TaskGroups">@Html.GetTitle(Model.langQueryList, 10112)</a></li>
                    <li class="breadcrumb-item active">@Model.taskGroupSummary.LongName</li>
                </ol>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.MessageType) && !string.IsNullOrWhiteSpace(Model.Message))
    {
        if (Model.MessageType == SaveStates.FAILED)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Model.Message</strong>
            </div>
        }
        else if (Model.MessageType == SaveStates.SUCCESS)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Model.Message</strong>
            </div>
        }
    }

    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Model.taskGroupSummary.LongName</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.taskGroupSummary.Completed)
                            {
                            <div class="alert alert-success">
                                <strong>@Html.GetTitle(Model.langQueryList, 10921)</strong><br />
                                @Html.GetTitle(Model.langQueryList, 10912): @Model.taskGroupSummary.CompletedOnDate.ToShortDateString()
                            </div>
                            }
                            else
                            {
                        <div class="alert alert-primary">
                            <strong>@Html.GetTitle(Model.langQueryList, 10922)</strong><br />
                            @Html.GetTitle(Model.langQueryList, 10911): @Model.taskGroupSummary.CompletionDate.ToShortDateString()
                        </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p style="white-space: pre-line">@Model.taskGroupSummary.Description</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10943):</strong><br /><a asp-page="/User/Index" asp-route-id="@Model.taskGroupSummary.MainUserId">@Model.taskGroupSummary.MainUserName</a></p>
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10222):</strong><br />@Model.taskGroupSummary.StartDate.ToShortDateString()</p>
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10911):</strong><br />@Model.taskGroupSummary.CompletionDate.ToShortDateString()</p>
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10302):</strong><br /><a asp-page="/Client/Index" asp-route-id="@Model.clientSummary.Id">@Model.clientSummary.LongName</a></p>
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10306):</strong><br />@Model.clientSummary.MainContactName<br />@Model.clientSummary.Phone<br /><a href="mailto:@Model.clientSummary.Email">@Model.clientSummary.Email</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Html.GetTitle(Model.langQueryList, 10923)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10924):</strong></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="@(Model.taskGroupSummary.PercentageComplete*100)" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.taskGroupSummary.PercentageComplete*100)%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>@Html.GetTitle(Model.langQueryList, 10911):</strong><br />@Model.taskGroupSummary.CompletionDate.ToShortDateString()</p>
                            <p>
                                @*<strong>Overdue tasks:</strong>
                                    <br /><a href="#">Node 3</a> (Due: 01/01/2020)
                                    <br /><a href="#">Node 5</a> (Due: 01/01/2020)*@
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingTimeline">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTimeline" aria-expanded="true" aria-controls="collapseTimeline">
                                                @Html.GetTitle(Model.langQueryList, 10925)
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseTimeline" class="collapse" aria-labelledby="headingTimeline">
                                        <div class="card-body overflow-auto">
                                            <div id="gantt_here"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Html.GetTitle(Model.langQueryList, 10909)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="accordion" id="accordionTasks">

                                @foreach (var childTaskGroupSummary in Model.taskGroupSummary.ChildTaskGroups)
                                {
                                    <partial name="_TaskGroupSummary" model="childTaskGroupSummary" />
                                }

                            </div>
                            @if (!Model.taskGroupSummary.Completed)
                            {
                                @if (Model.taskGroupSummary.ChildTaskGroups.Any() || Model.taskGroupSummary.ChildTasks.Any())
                                {
                                    <p>&nbsp;</p>
                                    <form asp-page-handler="Complete" method="post">
                                        <button class="btn btn-success btn-sm">@Html.GetTitle(Model.langQueryList, 10921)</button>
                                        <input type="hidden" name="taskGroupId" value="@Model.Id" />
                                    </form>
                                }
                            }
                            <br />
                            <p><a asp-page="/TaskGroup/CreateOrEdit" asp-route-id="@Guid.Empty" asp-route-parentid="@Model.taskGroupSummary.Id" class="btn btn-primary btn-sm">@Html.GetTitle(Model.langQueryList, 10926)</a></p>
                        </div>
                    </div>

                    <partial name="_TaskFileModals" model="Model.taskGroupSummary" />

                </div>
            </div>
        </div>
    </div>



</div>



@section Scripts {
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_PLDataTableJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/dhtmlx-gantt/dhtmlxgantt.js"></script>
    <script>
		gantt.config.date_format = "%Y-%m-%d %H:%i";
		gantt.config.readonly = true;
		gantt.config.autosize = "y";
		gantt.config.columns=[
			{name:"text",       label:"@Html.GetTitle(Model.langQueryList, 10901)",  tree:true, width:'*' },
			{name:"start_date", label:"@Html.GetTitle(Model.langQueryList, 10222)", align: "center" },
			{name:"duration",   label:"@Html.GetTitle(Model.langQueryList, 10927)",   align: "center" },
		];
        gantt.init("gantt_here");
        var tmpData = JSON.parse('@Html.Raw(Model.GanttJSON)');
        gantt.parse(tmpData);
    </script>
}





