@using PanacheSoftware.Core.Domain.API.Language
@model LangQueryList

<li class="sidebar-dropdown @Html.IsSelected(root:"Team", page: "", cssClass:"active", cssClassAlt:"")">
    <a href="#">
        <i class="fa fa-sitemap"></i>
        <span class="menu-text">@Html.GetTitle(Model, 10108)</span>
    </a>
    <div class="sidebar-submenu" style="@Html.IsSelected(root:"Team", page: "", cssClass:"display: block;", cssClassAlt:"")">
        <ul>
            <li>
                <a asp-page="/Team/Teams">@Html.GetTitle(Model, 10109)</a>
            </li>
            <li>
                <a asp-page="/Team/Index" asp-route-Id="">@Html.GetTitle(Model, 10110)</a>
            </li>
        </ul>
    </div>
</li>
