@page
@model PanacheSoftware.UI.Client.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_PSMainLayout";

    var tokens = new InitialApplicationState
    {
        AccessToken = await HttpContext.GetTokenAsync("access_token")
    };
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" active>@Html.GetTitle(Model.langQueryList, 10121)</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <div class="col-md-12 text-center">
                <a asp-page="/TaskGroup/CreateOrEdit" class="btn btn-primary btn-lg"><i class="fa fa-clipboard-list"></i>&nbsp;@Html.GetTitle(Model.langQueryList, 10113)</a>
                &nbsp;&nbsp;
                <a asp-page="/TaskGroup/TaskGroups" class="btn btn-success btn-lg"><i class="fa fa-tasks"></i>&nbsp;@Html.GetTitle(Model.langQueryList, 10112)</a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-info btn-lg"><i class="fa fa-address-card"></i>&nbsp;@Html.GetTitle(Model.langQueryList, 10807)</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-warning btn-lg"><i class="fa fa-users"></i>&nbsp;@Html.GetTitle(Model.langQueryList, 10408)</button>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="form-group col-md-6">
            <div class="card border-primary mb-6">
                <div class="card-header">Counter</div>
                <div class="card-body">-->
                    @*<component type="typeof(Counter)" param-InitialState="tokens" render-mode="ServerPrerendered" />*@
                    @*<component type="typeof(DashboardCounter)" param-InitialState="tokens" render-mode="ServerPrerendered" />*@
                <!--</div>
            </div>
        </div>
    </div>-->

    @if (Model.taskGroupSummaryList.TaskGroupSummarys.Any())
    {
        var rowStart = true;
        var rowEnd = false;
        var cardCount = 0;
        var taskGroupCount = Model.taskGroupSummaryList.TaskGroupSummarys.Count;
        var currentTaskGroupCount = 0;

        foreach (var currentTaskGroupSummary in Model.taskGroupSummaryList.TaskGroupSummarys)
        {
            if (!currentTaskGroupSummary.Completed)
            {
                if (rowStart)
                {
                    @:<div class="row">
                        rowStart = false;
                    }

                    <div class="form-group col-md-6">
                        <div class="card border-primary mb-6">
                            <div class="card-header"><a asp-page="/TaskGroup/Index" asp-route-id="@currentTaskGroupSummary.Id" class="btn btn-outline-primary btn-sm">@currentTaskGroupSummary.ShortName</a></div>
                            <div class="card-body">
                                <h4 class="card-title">@currentTaskGroupSummary.LongName</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="@(currentTaskGroupSummary.PercentageComplete * 100)" aria-valuemin="0" aria-valuemax="100" style="width: @(currentTaskGroupSummary.PercentageComplete * 100)%"></div>
                                </div>
                                <br />
                                <p class="card-text">
                                    @currentTaskGroupSummary.Description
                                    <br /><br />
                                    <strong>Completion Date:</strong> @currentTaskGroupSummary.CompletionDate.ToShortDateString()
                                </p>
                            </div>
                        </div>
                    </div>

                    cardCount++;
                    currentTaskGroupCount++;

                    if (cardCount == 2 || currentTaskGroupCount == taskGroupCount)
                    {
                        rowEnd = true;
                        rowStart = true;
                        cardCount = 0;
                    }

                    if (rowEnd)
                    {
                    @:</div>
                    rowEnd = false;
                }
            }
        }
    }
</div>
