@page
@model UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLDataTableCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item active">@Html.GetTitle(Model.langQueryList, 10115)</li>
                </ol>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10115)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="" class="table table-striped table-bordered datatable display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10800)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10207)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10209)</th>
                                            @*<th>Email</th>*@
                                            <th>@Html.GetTitle(Model.langQueryList, 10201)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10202)</th>
                                            <th>@Html.GetTitle(Model.langQueryList, 10203)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var currentUser in Model.usersViewModel.Users)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-page="/User/Index" asp-route-id="@currentUser.Id" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                                </td>
                                                <td>@currentUser.Email</td>
                                                <td>@currentUser.FirstName</td>
                                                <td>@currentUser.Surname</td>
                                                @*<td>@currentUser.Email</td>*@
                                                <td>@currentUser.Status</td>
                                                <td>@currentUser.DateFrom.ToShortDateString()</td>
                                                <td>@currentUser.DateTo.ToShortDateString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a class="btn btn-primary" asp-page="/User/Index">@Html.GetTitle(Model.langQueryList, 10204)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_PLDataTableJS")
}