@model PanacheSoftware.Core.Domain.UI.ClientHeaderModel
@using PanacheSoftware.UI.Core.Helpers
@{
    for (int iCount = 0; iCount < Model.clientHead.ClientContacts.Count; iCount++)
    {
        <div class="tab-pane fade @(iCount == 0 ? "active show" : "")" id="@Html.Raw($"contact{iCount}")">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="title">@Html.GetTitle(Model.langQueryList, 10206)</label>
                            <select asp-for="clientHead.ClientContacts[iCount].Title" asp-items="@Model.TitleList" class="custom-select"></select>
                            <input asp-for="clientHead.ClientContacts[iCount].Id" class="form-control" hidden />
                            <input asp-for="clientHead.ClientContacts[iCount].ClientHeaderId" class="form-control" hidden />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="firstname">@Html.GetTitle(Model.langQueryList, 10207)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].FirstName" class="form-control" />
                            <span asp-validation-for="clientHead.ClientContacts[iCount].FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="middlename">@Html.GetTitle(Model.langQueryList, 10208)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].MiddleName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="surname">@Html.GetTitle(Model.langQueryList, 10209)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].LastName" class="form-control" />
                            <span asp-validation-for="clientHead.ClientContacts[iCount].LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">@Html.GetTitle(Model.langQueryList, 10210)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].Email" class="form-control" />
                            <span asp-validation-for="clientHead.ClientContacts[iCount].Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">@Html.GetTitle(Model.langQueryList, 10211)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].Phone" class="form-control" />
                            <span asp-validation-for="clientHead.ClientContacts[iCount].Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contactdatefrom">@Html.GetTitle(Model.langQueryList, 10202)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].DateFrom" type="text" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contactdateto">@Html.GetTitle(Model.langQueryList, 10203)</label>
                            <input asp-for="clientHead.ClientContacts[iCount].DateTo" type="text" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contactstatus">@Html.GetTitle(Model.langQueryList, 10201)</label>
                            <select asp-for="clientHead.ClientContacts[iCount].Status" asp-items="@Model.StatusList" class="custom-select"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input asp-for="clientHead.ClientContacts[iCount].MainContact" type="checkbox" />
                            <label for="maincontact">@Html.GetTitle(Model.langQueryList, 10306)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table id="addr_table_@(Model.clientHead.ClientContacts[iCount].Id)" class="table table-striped table-bordered datatable display nowrap addr_table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.GetTitle(Model.langQueryList, 10212)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10213)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10214)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10215)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10216)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10217)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10201)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int tableCount = 0;
                                        for (int iCount2 = 0; iCount2 < Model.clientHead.ClientContacts[iCount].ClientAddresses.Count; iCount2++)
                                        {
                                            <tr>
                                                <!--AddrTableRowsStart-->
                                                <td><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].Id" class="form-control" hidden /><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].ClientContactId" class="form-control" hidden /><select asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].AddressType" asp-items="@Model.AddressTypeList" class="custom-select"></select></td>
                                                <td><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].AddressLine1" class="form-control" /><span asp-validation-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].AddressLine1" class="text-danger"></span></td>
                                                <td><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].AddressLine2" class="form-control" /><span asp-validation-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].AddressLine2" class="text-danger"></span></td>
                                                <td><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].Region" class="form-control" /><span asp-validation-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].Region" class="text-danger"></span></td>
                                                <td><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].PostalCode" class="form-control" /><span asp-validation-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].PostalCode" class="text-danger"></span></td>
                                                <td><input asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].Country" class="form-control" /><span asp-validation-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].Country" class="text-danger"></span></td>
                                                <td><select asp-for="clientHead.ClientContacts[iCount].ClientAddresses[iCount2].Status" asp-items="@Model.StatusList" class="custom-select"></select></td>
                                                <!--AddrTableRowsEnd-->
                                            </tr>
                                            tableCount++;
                                        }
                                        <input id="AddrTable_Contact_Num_@(Model.clientHead.ClientContacts[iCount].Id)" value="@(iCount)" hidden />
                                        <input id="AddrTableCount_@(Model.clientHead.ClientContacts[iCount].Id)" value="@(Model.clientHead.ClientContacts[iCount].ClientAddresses.Count)" hidden />
                                    }
                                </tbody>
                            </table>
                            <input type="button" id="add_address_@(Model.clientHead.ClientContacts[iCount].Id)" class="btn btn-primary add-address-btn" value="@Html.GetTitle(Model.langQueryList, 10307)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
