@model PanacheSoftware.Core.Domain.UI.CustomFieldTableModel
@using PanacheSoftware.UI.Core.Helpers
@{
    <div class="col-md-12">
        <div class="card border-light mb-6">
            <div class="card-header">@Html.GetTitle(Model.langQueryList, 11005)</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="customField_table" class="table table-striped table-bordered datatable display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Html.GetTitle(Model.langQueryList, 11002)</th>
                                    <th>@Html.GetTitle(Model.langQueryList, 10200)</th>
                                    <th>@Html.GetTitle(Model.langQueryList, 11003)</th>
                                    <th>@Html.GetTitle(Model.langQueryList, 10226)</th>
                                    <th>@Html.GetTitle(Model.langQueryList, 10228)</th>
                                    <th>@Html.GetTitle(Model.langQueryList, 10227)</th>
                                    <th>@Html.GetTitle(Model.langQueryList, 10201)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int iCount = 0; iCount < Model.customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders.Count; iCount++)
                                    {
                                                                <tr>
                                                                    <!--CustomFieldTableRowsStart-->
                                                                    <td><input asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].Id" class="form-control" hidden /><input asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].Name" type="text" class="form-control" disabled/></td>
                                                                    <td><input asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].Description" type="text" class="form-control" /></td>
                                                                    <td><select asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].CustomFieldType" asp-items="@Model.CustomFieldTypeList" class="custom-select" disabled></select></td>
                                                                    <td><input asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].Mandatory" type="checkbox" class="form-control" /></td>
                                                                    <td><input asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].GDPR" type="checkbox" class="form-control" /></td>
                                                                    <td><input asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].History" type="checkbox" class="form-control" /></td>
                                                                    <td><select asp-for="customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders[iCount].Status" asp-items="@Model.StatusList" class="custom-select"></select></td>
                                                                    <!--CustomFieldTableRowsEnd-->
                                                                </tr>
                                    }
                                    <input id="CustomFieldTableCount" value="@(Model.customFieldGroupModel.customFieldGroupHead.CustomFieldHeaders.Count)" hidden />
                                }
                            </tbody>
                        </table>
                        <input type="button" id="add_customField" class="btn btn-primary pull-right add-address-btn" value="@Html.GetTitle(Model.langQueryList, 11004)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
