@model PanacheSoftware.Core.Domain.UI.LanguageHeaderModel
@using PanacheSoftware.UI.Core.Helpers
@{
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Html.GetTitle(Model.langQueryList, 10706)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="langItem_table" class="table table-striped table-bordered datatable display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.GetTitle(Model.langQueryList, 10707)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10703)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10202)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10203)</th>
                                        <th>@Html.GetTitle(Model.langQueryList, 10201)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        for (int iCount = 0; iCount < Model.langHead.LanguageItems.Count; iCount++)
                                        {
                                            <tr>
                                                <!--LangItemTableRowsStart-->
                                                <td><select asp-for="langHead.LanguageItems[iCount].LanguageCodeId" asp-items="@Model.LanguageCodeSelectList" class="custom-select"></select><input asp-for="langHead.LanguageItems[iCount].Id" class="form-control" hidden /><input asp-for="langHead.LanguageItems[iCount].LanguageHeaderId" class="form-control" hidden /></td>
                                                <td><input asp-for="langHead.LanguageItems[iCount].Text" type="text" class="form-control" /></td>
                                                <td><input asp-for="langHead.LanguageItems[iCount].DateFrom" type="text" class="form-control datepicker" /></td>
                                                <td><input asp-for="langHead.LanguageItems[iCount].DateTo" type="text" class="form-control datepicker" /></td>
                                                <td><select asp-for="langHead.LanguageItems[iCount].Status" asp-items="@Model.StatusList" class="custom-select"></select></td>
                                                <!--LangItemTableRowsEnd-->
                                            </tr>
                                        }
                                        <input id="LangItemTableCount" value="@(Model.langHead.LanguageItems.Count)" hidden />
                                    }
                                </tbody>
                            </table>
                            <input type="button" id="add_langItem" class="btn btn-primary pull-right add-langitem-btn" value="@Html.GetTitle(Model.langQueryList, 10708)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}