@model PanacheSoftware.Core.Domain.API.Task.TaskSummary
@using PanacheSoftware.UI.Core.Helpers
@{
    <div class="card border-primary mb-3">
        <div class="card-header">
            @Model.Title
            @if (Model.Completed)
            {
                <span class="badge badge-success float-right">@Html.GetTitle(Model.langQueryList, 10921)</span>
            }
            else
            {
                <span class="badge badge-primary float-right">@Html.GetTitle(Model.langQueryList, 10928)</span>
            }
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="card-text">
                        <strong> @Html.GetTitle(Model.langQueryList, 10943):</strong> <a asp-page="/User/Index" asp-route-id="@Model.MainUserId">@Model.MainUserName</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>@Html.GetTitle(Model.langQueryList, 10911):</strong> @Model.CompletionDate.ToShortDateString()
                        @if (Model.Completed)
                        {
                            <br /><strong>@Html.GetTitle(Model.langQueryList, 10912):</strong>@Model.CompletedOnDate.ToShortDateString()
                        }
                    </p>
                </div>
                @*<div class="col-md-4">
                <p>
                    <strong>Stakeholders:</strong>
                    <br />Peter Davis
                </p>
            </div>*@
                <div class="col-md-6">
                    <p>
                        <strong>@Html.GetTitle(Model.langQueryList, 10932):</strong>
                        @foreach (var fileHeader in Model.FileList.FileHeaders)
                        {
                            <br />
                            <button type="button" class="btn-xs" data-toggle="modal" data-target="#Modal-@fileHeader.Id"><i class="fa fa-history" aria-hidden="true"></i></button>
                            @if (!string.IsNullOrWhiteSpace(@fileHeader.FileVersions.OrderByDescending(v => v.VersionNumber).FirstOrDefault().URI))
                            {
                                <a href="@fileHeader.FileVersions.OrderByDescending(v => v.VersionNumber).FirstOrDefault().URI" target="_blank">@fileHeader.FileDetail.FileTitle</a>
                            }
                            else
                            {
                                <a asp-page="/File/Version/Download" asp-route-id="@fileHeader.FileVersions.OrderByDescending(v => v.VersionNumber).FirstOrDefault().Id">@fileHeader.FileDetail.FileTitle</a>
                            }
                            @switch (fileHeader.FileDetail.FileExtension)
                            {
                                case ".pdf":
                                    <i class="fa fa-file-pdf" aria-hidden="true"></i>
                                    break;
                                case ".docx":
                                case ".doc":
                                    <i class="fa fa-file-word" aria-hidden="true"></i>
                                    break;
                                case "URI":
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    break;
                                default:
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                    break;
                            }
                        }
                        <br /><br /><a asp-page="/File/Index" asp-route-Id="@Guid.Empty" asp-route-linkId="@Model.Id" asp-route-linkType="Task" class="btn btn-primary btn-sm">@Html.GetTitle(Model.langQueryList, 10933)</a>
                    </p>
                </div>
            </div>
            @if (!Model.Completed)
            {
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-page-handler="Complete" method="post">
                            <button class="btn btn-success btn-sm">@Html.GetTitle(Model.langQueryList, 10934)</button>
                            <input type="hidden" name="taskGroupId" value="@Model.TaskGroupHeaderId" />
                            <input type="hidden" name="taskId" value="@Model.Id" />
                        </form>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <a asp-page="/TaskGroup/Task/CreateOrEdit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">@Html.GetTitle(Model.langQueryList, 10935)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}