@model PanacheSoftware.Core.Domain.API.Task.TaskGroupSummary
@using PanacheSoftware.UI.Core.Helpers
@{
    @foreach (var taskGroupSummary in Model.ChildTaskGroups)
    {
        @foreach (var taskSummary in taskGroupSummary.ChildTasks)
        {
            @foreach (var fileHeader in taskSummary.FileList.FileHeaders)
            {
                <div class="modal fade" id="Modal-@fileHeader.Id" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">@fileHeader.FileDetail.FileTitle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="" class="table table-striped table-bordered datatable display nowrap responsive" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>@Html.GetTitle(Model.langQueryList, 10936)</th>
                                                    <th>@Html.GetTitle(Model.langQueryList, 10937)</th>
                                                    <th>@Html.GetTitle(Model.langQueryList, 10938)</th>
                                                    <th>@Html.GetTitle(Model.langQueryList, 10939)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var fileVersion in fileHeader.FileVersions)
                                                {
                                                    <tr>
                                                        <td>@fileVersion.VersionNumber</td>
                                                        <td>
                                                            @if (!string.IsNullOrWhiteSpace(fileVersion.URI))
                                                            {
                                                                @fileVersion.URI
                                                            }
                                                            else
                                                            {
                                                                @fileVersion.TrustedName
                                                            }
                                                        </td>
                                                        <td>@fileVersion.UploadDate.ToShortDateString()</td>
                                                        <td>
                                                            @if (!string.IsNullOrWhiteSpace(fileVersion.URI))
                                                            {
                                                                <a href="@fileVersion.URI">@Html.GetTitle(Model.langQueryList, 10939)</a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-page="/File/Version/Download" asp-route-id="@fileVersion.Id">@Html.GetTitle(Model.langQueryList, 10940)</a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <a asp-page="/File/Version/Index" asp-route-fileHeaderId="@fileHeader.Id" asp-route-Id="@Guid.Empty" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10941)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Html.GetTitle(Model.langQueryList, 10942)</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

}