@using PanacheSoftware.Core.Domain.API.Language
@model LangQueryList

<li class="sidebar-dropdown @Html.IsSelected(root:"Client", page: "", cssClass:"active", cssClassAlt:"")">
    <a href="#">
        <i class="far fa-address-book"></i>
        <span class="menu-text">@Html.GetTitle(Model, 10105)</span>
    </a>
    <div class="sidebar-submenu" style="@Html.IsSelected(root:"Client", page: "", cssClass:"display: block;", cssClassAlt:"")">
        <ul>
            <li>
                <a asp-page="/Client/Clients">@Html.GetTitle(Model, 10106)</a>
            </li>
            <li>
                <a asp-page="/Client/Index" asp-route-Id="">@Html.GetTitle(Model, 10107)</a>
            </li>
        </ul>
    </div>
</li>
