@page "{id?}"
@model CreateOrEditModel
@{
    ViewData["Title"] = $"Panche Legal - Folder ({Model.folderHead.ShortName})";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
    @await Html.PartialAsync("_PLDataTableCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Folder/Folders">@Html.GetTitle(Model.langQueryList, 10111)</a></li>
                    <li class="breadcrumb-item active">
                        @if (Model.folderHead.Id == Guid.Empty)
                        {
                             @Html.Raw("New Folder")
                        }
                        else
                        {
                            @Model.folderHead.LongName
                        }
                    </li>
                </ol>
            </div>
        </div>
    </div>

    @if (Model.SaveState != SaveStates.IGNORE)
    {
        if (Model.SaveState == SaveStates.FAILED)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Html.GetTitle(Model.langQueryList, 10500)</strong>
                @if (!string.IsNullOrWhiteSpace(Model.ErrorString))
                {
                    @Model.ErrorString;
                }
            </div>
        }
        else if (Model.SaveState == SaveStates.SUCCESS)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Html.GetTitle(Model.langQueryList, 10501)</strong>
            </div>
        }
    }

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Html.GetTitle(Model.langQueryList, 10908)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10900)</label>
                                <input asp-for="folderHead.ShortName" class="form-control" />
                                <span asp-validation-for="folderHead.ShortName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10901)</label>
                                <input asp-for="folderHead.LongName" class="form-control" />
                                <span asp-validation-for="folderHead.LongName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10200)</label>
                                <textarea asp-for="folderHead.Description" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Html.GetTitle(Model.langQueryList, 10910)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10911)</label>
                                <input asp-for="folderHead.CompletionDate" type="text" class="form-control datepicker" />
                                <input asp-for="folderHead.Completed" type="checkbox" hidden />
                                <input asp-for="folderHead.CompletedOnDate" type="text" class="form-control datepicker" hidden />
                                <input asp-for="folderHead.OriginalCompletionDate" type="text" class="form-control datepicker" hidden />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-header">@Html.GetTitle(Model.langQueryList, 10909)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10202)</label>
                                <input asp-for="folderHead.DateFrom" type="text" class="form-control datepicker" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10203)</label>
                                <input asp-for="folderHead.DateTo" type="text" class="form-control datepicker" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10902)</label>
                                <select asp-for="folderHead.TeamHeaderId" asp-items="@Model.TeamSelectList" class="custom-select"></select>
                                <input class="form-control" hidden type="text" id="unBound" name="unBound" value="Unbound" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10904)</label>
                                <select asp-for="folderHead.ClientHeaderId" asp-items="@Model.ClientSelectList" class="custom-select"></select>
                                <input class="form-control" hidden type="text" id="unBound" name="unBound" value="Unbound" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10905)</label>
                                <select asp-for="folderHead.MainUserId" asp-items="@Model.UserSelectList" class="custom-select"></select>
                                <input class="form-control" hidden type="text" id="unBound" name="unBound" value="Unbound" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10201)</label>
                                <select asp-for="folderHead.Status" asp-items="@Model.StatusList" class="custom-select"></select>
                                <input asp-for="folderHead.Id" class="form-control" hidden />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-6">
                <div class="card-body">
                    <input asp-for="folderHead.ParentFolderId" type="text" class="form-control" hidden />
                    @if (Model.folderHead.Id == Guid.Empty)
                    {
                        <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10906)</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10907)</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
</div>

@section Scripts {
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_PLDataTableJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")

}





