@page "{id}/{taskGroupId?}"
@model CreateOrEditModel
@{
    ViewData["Title"] = $"Panche Legal - Task ({Model.taskItemModel.taskHead.Title})";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
    @await Html.PartialAsync("_PLDataTableCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/TaskGroup/TaskGroups">@Html.GetTitle(Model.langQueryList, 10111)</a></li>
                    <li class="breadcrumb-item active">
                        @if (Model.taskItemModel.taskHead.Id == Guid.Empty)
                        {
                            @Html.Raw("New Task")
                        }
                        else
                        {
                            @Model.taskItemModel.taskHead.Title
                        }
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <partial name="_SaveMessage" model="Model.SaveMessageModel" />

    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10908)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10900)</label>
                                    <input asp-for="taskItemModel.taskHead.Title" class="form-control" />
                                    <span asp-validation-for="taskItemModel.taskHead.Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10200)</label>
                                    <textarea asp-for="taskItemModel.taskHead.Description" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10910)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10222)</label>
                                    <input asp-for="taskItemModel.taskHead.StartDate" type="text" class="form-control datepicker" />
                                    <input asp-for="taskItemModel.taskHead.OriginalStartDate" type="text" class="form-control datepicker" hidden />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10911)</label>
                                    <input asp-for="taskItemModel.taskHead.CompletionDate" type="text" class="form-control datepicker" />
                                    <input asp-for="taskItemModel.taskHead.Completed" type="checkbox" hidden />
                                    <input asp-for="taskItemModel.taskHead.CompletedOnDate" type="text" class="form-control datepicker" hidden />
                                    <input asp-for="taskItemModel.taskHead.OriginalCompletionDate" type="text" class="form-control datepicker" hidden />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10909)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10905)</label>
                                    <select asp-for="taskItemModel.taskHead.MainUserId" asp-items="@Model.UserSelectList" class="custom-select"></select>
                                    <input class="form-control" hidden type="text" id="unBound" name="unBound" value="Unbound" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Html.GetTitle(Model.langQueryList, 10201)</label>
                                    <select asp-for="taskItemModel.taskHead.Status" asp-items="@Model.StatusList" class="custom-select"></select>
                                    <input asp-for="taskItemModel.taskHead.Id" class="form-control" hidden />
                                    <input asp-for="taskItemModel.taskHead.TaskGroupHeaderId" type="text" class="form-control" hidden />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <partial name="_CustomFieldGroupLinkTaskItem" model="Model.customFieldGroupLinkTaskItemTableModel" />
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-body">
                        <input asp-for="taskItemModel.taskHead.TaskType" type="text" class="form-control" hidden />
                        <input asp-for="taskItemModel.taskHead.SequenceNumber" type="text" class="form-control" hidden />
                        @if (Model.taskItemModel.taskHead.Id == Guid.Empty)
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10906)</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10907)</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_PLDataTableJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
            $(document).ready(function () {

                $('#pageForm').submit(function () {
                    $('select').removeAttr('disabled');
                });

                var customFieldLinkButton = document.getElementById('add_customFieldGroupLink');

                customFieldLinkButton.addEventListener('click', addCustomFieldLink, false);

                function addCustomFieldLink() {
                    var customfieldLinkTable = $('#customFieldGroupLink_table').DataTable()
                    var rowCount = $('#CustomFieldGroupLinkTableCount').val();
                    var taskHeadId = $('#taskItemModel_taskHead_Id').val();

                    customfieldLinkTable.row.add([
                        @{
                            for (int i = 0; i < Model.customFieldGroupLinkTaskItemTableModel.customFieldGroupRows.Count(); i++)
                            {
                                @Html.Raw(Model.customFieldGroupLinkTaskItemTableModel.customFieldGroupRows[i]);
                            }
                        }
                    ]).draw();

                    $('.datepicker').datepicker();

                    rowCount++;
                    $('#CustomFieldGroupLinkTableCount').val(rowCount);
                }
            });
    </script>
}