@page "{id?}"
@model IndexModel
@{
    ViewData["Title"] = $"Panche Legal - Team ({Model.teamHead.ShortName})";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
    @await Html.PartialAsync("_PLOrgChartCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Team/Teams">@Html.GetTitle(Model.langQueryList, 10108)</a></li>
                    <li class="breadcrumb-item active">
                        @if (Model.teamHead.Id == Guid.Empty)
                        {
                            @Html.Raw("New Team")
                        }
                        else
                        {
                            @Model.teamHead.ShortName
                        }
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <partial name="_SaveMessage" model="Model.SaveMessageModel" />

    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">
                        Edit Team -
                        @if (Model.teamHead.Id == Guid.Empty)
                        {
                            @Html.Raw("New Team")
                        }
                        else
                        {
                            @Model.teamHead.LongName
                        }
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="teamid">@Html.GetTitle(Model.langQueryList, 10400)</label>
                                    <input asp-for="teamHead.ShortName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="teamname">@Html.GetTitle(Model.langQueryList, 10401)</label>
                                    <input asp-for="teamHead.LongName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactdatefrom">@Html.GetTitle(Model.langQueryList, 10202)</label>
                                    <input asp-for="teamHead.DateFrom" type="text" class="form-control datepicker" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactdateto">@Html.GetTitle(Model.langQueryList, 10203)</label>
                                    <input asp-for="teamHead.DateTo" type="text" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">@Html.GetTitle(Model.langQueryList, 10200)</label>
                                    <textarea asp-for="teamHead.Description" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="parentteam">@Html.GetTitle(Model.langQueryList, 10402)</label>
                                    <select asp-for="teamHead.ParentTeamId" asp-items="@Model.TeamSelectList" class="custom-select"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="teamstatus">@Html.GetTitle(Model.langQueryList, 10201)</label>
                                    <select asp-for="teamHead.Status" asp-items="@Model.StatusList" class="custom-select"></select>
                                    <input asp-for="teamHead.Id" class="form-control" hidden />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @if (Model.Id != Guid.Empty.ToString())
        {
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-light mb-6">
                        <div class="card-header">@Html.GetTitle(Model.langQueryList, 10405)</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div id="chart-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-body">
                        <input asp-for="teamHead.TeamDetail.Id" class="form-control" hidden />
                        <input asp-for="teamHead.TeamDetail.DateFrom" type="text" class="form-control datepicker" hidden />
                        <input asp-for="teamHead.TeamDetail.DateTo" type="text" class="form-control datepicker" hidden />
                        <input asp-for="teamHead.TeamDetail.Status" class="form-control" hidden />
                        <input asp-for="teamHead.TeamDetail.TeamHeaderId" class="form-control" hidden />
                        @if (Model.teamHead.Id == Guid.Empty)
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10403)</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10404)</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_PLOrgChartJS")
    <script>
                $(document).ready(function () {

                    var datasource = @Html.Raw(Model.ChartDatasource);

                    $('#chart-container').orgchart({
                        'data': datasource,
                        'nodeContent': 'title'
                    });
                });
    </script>
}

