@page "{id?}"
@model IndexModel
@{
    ViewData["Title"] = $"Panche Legal - Client ({Model.clientHead.ShortName})";
    Layout = "_PSMainLayout";
}

@section Styles {
    @await Html.PartialAsync("_PLFormCSS")
    @await Html.PartialAsync("_PLDataTableCSS")
}

<div id="overlay" class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="breadcrumb-container">
                <a id="toggle-sidebar" class="btn btn-outline-secondary btn-sm breadcrumb-button" href="#"><i class="fa fa-bars"></i></a>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">@Html.GetTitle(Model.langQueryList, 10121)</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Client/Clients">@Html.GetTitle(Model.langQueryList, 10300)</a></li>
                    <li class="breadcrumb-item active">
                        @if (Model.clientHead.Id == Guid.Empty)
                        {
                            @Html.Raw("New Client")
                        }
                        else
                        {
                            @Model.clientHead.ShortName
                        }
                    </li>
                </ol>
            </div>
        </div>
    </div>

    @if (Model.SaveState != SaveStates.IGNORE)
    {
        if (Model.SaveState == SaveStates.FAILED)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Html.GetTitle(Model.langQueryList, 10500)</strong>
                @if (!string.IsNullOrWhiteSpace(Model.ErrorString))
                {
                    @Model.ErrorString;
                }
            </div>
        }
        else if (Model.SaveState == SaveStates.SUCCESS)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Html.GetTitle(Model.langQueryList, 10501)</strong>
            </div>
        }
    }

    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10310)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="clientid">@Html.GetTitle(Model.langQueryList, 10301)</label>
                                    <input asp-for="clientHead.ShortName" class="form-control" /><input asp-for="clientHead.Id" class="form-control" hidden />
                                    <span asp-validation-for="clientHead.ShortName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="clientname">@Html.GetTitle(Model.langQueryList, 10302)</label>
                                    <input asp-for="clientHead.LongName" class="form-control" />
                                    <span asp-validation-for="clientHead.LongName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="url">@Html.GetTitle(Model.langQueryList, 10303)</label>
                                    <input asp-for="clientHead.ClientDetail.url" class="form-control" />
                                    <span asp-validation-for="clientHead.ClientDetail.url" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="datefrom">@Html.GetTitle(Model.langQueryList, 10202)</label>
                                    <input asp-for="clientHead.DateFrom" type="text" class="form-control datepicker" />
                                </div>
                                <div class="form-group">
                                    <label for="dateto">@Html.GetTitle(Model.langQueryList, 10203)</label>
                                    <input asp-for="clientHead.DateTo" type="text" class="form-control datepicker" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="file" name="img[]" class="file" accept="image/*">
                                    <div class="input-group my-3">
                                        <input asp-for="clientHead.ClientDetail.Base64Image" class="form-control" hidden />
                                        <input type="text" class="form-control" disabled placeholder="@Html.GetTitle(Model.langQueryList, 10221)" id="file">
                                        <div class="input-group-append">
                                            <button type="button" class="browse btn btn-primary">@Html.GetTitle(Model.langQueryList, 10205)</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    @if (!string.IsNullOrWhiteSpace(Model.clientHead.ClientDetail.Base64Image))
                                    {
                                        <img src="@Model.clientHead.ClientDetail.Base64Image" id="preview" class="img-thumbnail" alt="profileimage" />
                                    }
                                    else
                                    {
                                        <img src="~/img/250.png" id="preview" class="img-thumbnail" alt="profileimage">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">@Html.GetTitle(Model.langQueryList, 10200)</label>
                                    <textarea asp-for="clientHead.Description" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="description">@Html.GetTitle(Model.langQueryList, 10201)</label>
                                    <select asp-for="clientHead.Status" asp-items="@Model.StatusList" class="custom-select"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-header">@Html.GetTitle(Model.langQueryList, 10304)</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="button" id="add_contact" class="btn btn-primary" value="@Html.GetTitle(Model.langQueryList, 10305)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="myNavTabs" class="nav nav-tabs">
                                    @for (int i = 0; i < Model.clientHead.ClientContacts.Count; i++)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link @(i == 0 ? "active" : "")" data-toggle="tab" href="@Html.Raw($"#contact{i}")">@Html.Raw($"{Model.clientHead.ClientContacts[i].FirstName} {Model.clientHead.ClientContacts[i].LastName}")</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div id="myTabContent" class="tab-content col-md-12">
                                <partial name="_ClientContact" model="Model.clientHeaderModel" />
                            </div>
                            <input id="ContactCount" value="@(Model.clientHead.ClientContacts.Count)" hidden />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-light mb-6">
                    <div class="card-body">
                        @if (Model.clientHead.Id == Guid.Empty)
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10309)</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">@Html.GetTitle(Model.langQueryList, 10308)</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_PLFormJS")
    @await Html.PartialAsync("_PLDataTableJS")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            $("#preview").on("load", function () {
                        var newImage = document.getElementById('preview').src;
                        $('#userProfileModel_userModel_Base64ProfileImage').val(newImage);
            });

            function redirectAddAddress() {
                addContactAddress(this.id.replace('add_address_', ''))
            }

            var addrTables = document.getElementsByClassName('addr-table');

            for (var i = 0; i < addrTables.length; i++) {
                setDataTable(addrTables[i].id);
            }

            var addrButtons = document.getElementsByClassName('add-address-btn');

            for (var i = 0; i < addrButtons.length; i++) {
                addrButtons[i].addEventListener('click', redirectAddAddress, false);
            }

            function addContactAddress(contactId) {
                var addressTable = $('#addr_table_' + contactId).DataTable()
                var rowCount = $('#AddrTableCount_' + contactId).val();
                var contactNumber = $('#AddrTable_Contact_Num_' + contactId).val();
                var origContactId = contactId;


                if (contactId.match("^NEW")) {
                    contactId = '00000000-0000-0000-0000-000000000000';
                }

                addressTable.row.add([
                    @{
                        for (int i = 0; i < Model.clientHeaderModel.addressRows.Count(); i++)
                        {
                            @Html.Raw(Model.clientHeaderModel.addressRows[i]);
                        }
                    }
                ]).draw();

                rowCount++;
                $('#AddrTableCount_' + origContactId).val(rowCount);
            }

            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }

            function generateGuid() {
                return (S4() + S4() + "-" + S4() + "-4" + S4().substr(0, 3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
            }

            function addContact() {
                var clientHeaderId = $('#clientHead_Id').val();
                var contactCount = $('#ContactCount').val();
                var newContactId = 'NEW' + contactCount;

                var contactCode = '@Html.Raw(Model.clientHeaderModel.contactCardHTML)';
                contactCode = contactCode.replace("active show", "");
                contactCode = contactCode.replace("contact0", "contact" + contactCount + "");

                var contactTabCode = '<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contact' + contactCount +'">New Contact</a></li>';

                $('#myTabContent').append(contactCode);
                $('#myNavTabs').append(contactTabCode);

                $('.datepicker').datepicker({});

                contactCount++;
                $('#ContactCount').val(contactCount);
                $('#addr_table_' + newContactId).DataTable();
                document.getElementById('add_address_' + newContactId).addEventListener('click', redirectAddAddress, false);
            }

            document.getElementById('add_contact').addEventListener('click', addContact, false);
        });
    </script>
}

